.div{
    height:900px;
    width:900px;
    background-color: whitesmoke;
    /* border:2px solid gray; */
    display: grid;
    margin-left:300px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    /* margin-top: 300px; */
    

}
.div1{
    height:200px;
    width:200px;
    background-color: white;
    border:2px solid gray;
    border-radius: 15px ;
    margin: 20px;
    margin-top:150px;
    /* margin-right: 700px; */

}
.div1:hover{
transition-delay: 1s;
box-shadow: 1px 1px 10px  black;


}

.first{
    display: flex;
    margin-left: 600px;
    
}
.min{
margin-right: 700px;
display: grid;
grid-template-columns: 260px 260px 260px ;
}

